body {
    background-image: url("assets/common/img/menu.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}


#btn_Jogar{
    margin-top: 375px;
}

.btn{   
    background-color: #12318e;
    color: #ffff00;
    padding: 4px 117px;
    margin-bottom: 5px;
    font-family: "Arial Black", Gadget, sans-serif
}

.btn:hover{   
    background-color: #ffff00;
    color: #12318e;
    font-weight: bold
}

.card{
    margin-top: 150px;
}

#titulo{
    font-size: 40px;
    font-weight: bold;
    color:#12318e;
    margin-top: 10px;
}

#paragrafo{
    font-size: 18px;
    margin: 20px 10px 30px 10px;
    text-align: justify;
}

#fim{
    font-size: 25px;
    margin: 10px 0px;
}

#titulo_Dif{
    font-size: 40px;
    font-weight: bold;
    color:#ffff00;
    margin-top: 360px;
}